<div class="jumbotron">
	<h1>Jual Bagasi</h1>
	<app-navigation-bar [currentNavigation]="'homepage'"></app-navigation-bar>
</div>
<div class="container">

	<ngb-accordion #acc="ngbAccordion" activeIds="panel-filter">
		<ngb-panel title="Filter.." id="panel-filter">
			<ng-template ngbPanelContent>
				<div class="row">
					<div class="col-sm-4">
						<div>
							<label for="filter_country_origin" class="small">Kota/Negara asal</label>
							<input id="filter_country_origin" type="text" class="form-control"/>
						</div>
						<div>
							<label for="filter_country_dest" class="small">Kota/Negara tujuan</label>
							<input id="filter_country_dest" type="text" class="form-control"/>
						</div>
					</div>

					<div class="col-sm-4">
						<label for="filter_capacity" class="small">
							Kapasitas (Kg)
						</label>
						<div class="form-inline">
							<input class="form-control" type="number" name="min_luggage" 
								min="0" step="0.1" max="50" [(ngModel)]="filter.min_capacity"/>
							<img src="assets/icons/ic_arrow_right.svg" class="mr-1 ml-1" />
							<input class="form-control" type="number" name="max_luggage" 
								min="0" step="0.1" max="50" [(ngModel)]="filter.max_capacity"/>
						</div>

						<div>
							<label class="small">Tanggal</label>
							<div>
								<input id="filter_start" name="filter_start" type="text" readonly
									class="hidden-input" data-container="body"
									(dateSelect)="onFilterMinDate($event)"
									ngbDatepicker #filter_start="ngbDatepicker"/>
								<button class="btn btn-sm btn-info" (click)="filter_start.toggle()">
									{{ filter.min_date === null ? 'Mulai...' : filter.min_date | date:'d-MMM-y' }}
								</button>
								<img src="assets/icons/ic_arrow_right.svg" class="ml-1" />
								<input id="filter_end" name="filter_end" type="text" readonly
									class="hidden-input" data-container="body"
									(dateSelect)="onFilterMaxDate($event)"
									ngbDatepicker #filter_end="ngbDatepicker"/>
								<button class="btn btn-sm btn-info" (click)="filter_end.toggle()">
									{{ filter.max_date === null ? 'Sampai...' : filter.max_date | date:'d-MMM-y' }}
								</button>
							</div>
			    		</div>
					</div>

					<div class="col-sm-4">
						<label class="small">Status</label>
						<div>
							<div>
				    			<input type="checkbox" class="mr-2" id="status_during" 
				    				[(ngModel)]="filter.currently_open"/>
				    			<label class="form-check-label" for="status_during">Open</label>
				    		</div>
			    			<div>
			    				<input type="checkbox" class="mr-2" id="status_incoming"
			    					[(ngModel)]="filter.incoming"/>
			    				<label class="form-check-label" for="status_incoming">Soon</label>
			    			</div>
			    			<div>
			    				<input type="checkbox" class="mr-2" id="status_expired"
			    					[(ngModel)]="filter.incoming"/>
			    				<label class="form-check-label" for="status_expired">Expired</label>
			    			</div>
			    		</div>
					</div>
				</div>
				<div class="mt-3">
					<div ngbDropdown class="d-inline-block mr-2" data-container="body">
						<button class="btn btn-outline-info" id="sort_by" ngbDropdownToggle>
							Urutkan..
						</button>
						<div ngbDropdownMenu aria-labelledby="sort_by">
							<button ngbDropdownItem>Tanggal</button>
							<button ngbDropdownItem>Sisa Kapasitas</button>
						</div>
					</div>
					<button class="btn btn-primary" (click)="onFilter()">Filter</button>
				</div>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>
	<hr />

	<div class="row">
		<div class="col-sm-4" *ngFor="let po of purchaseOrders$ | async">
			<a routerLink="/purchaseorder/{{po.id}}">
				<app-purchase-order [purchaseOrder]="po">		
				</app-purchase-order>
			</a>
		</div>
	</div>

</div>