<div class="jumbotron">
	<h1>Jual Bagasi</h1>
	<app-navigation-bar [currentNavigation]="'homepage'"></app-navigation-bar>
</div>
<div class="container">

	<div class="form-inline d-flex">
		<span class="mr-4">
			<label for="filter_country" class="mr-4 small">Negara tujuan</label>
			<input id="filter_country" type="text" class="form-control"/>
		</span>

		<span class="">
			<label for="filter_capacity" class="mr-4 small">Kapasitas 
				(<span *ngIf="currentCapacityFilter as ccf">{{ccf[0]}} - {{ccf[1]}}</span> Kg)
			</label>
			<mv-slider [(value)]="currentCapacityFilter" [range]="true"
				[ticksLabels]="['0','50']" [ticks]="[0, 50]" 
				[min]="0" [step]="1" [max]="50">		
			</mv-slider>
		</span>

		<!--TODO filter tanggal -->
		<!--TODO sort by -->
	</div>
	<hr />

	<div class="row">
		<div class="col-sm-4" *ngFor="let po of purchaseOrders$ | async">
			<app-purchase-order 
				[purchaseOrder]="po" 
				(click)="onPurchaseOrderSelected(po)">		
			</app-purchase-order>
		</div>
	</div>

</div>