.order-item-bg {
	border: 1px groove grey;
	cursor: pointer;
	opacity: 1;
	transition: .25s;
}

.order-item-bg:hover {
	opacity: 0.7;
}

.order-category-po {
	background-color: #ccccff;
}

.order-text {
	font-size: 12px;
	font-weight: normal;
}

.order-title {
	font-size: 14px;
	font-weight: bold;
}