<div class="m-3">
	<h4>Tambah Rute Perjalanan</h4>
	<form>
		<div class="form-group">
			<label for="dest_country">Negara tujuan*</label>
			<input type="text" 
				class="form-control" 
				id="dest_country" />
		</div>

		<div class="form-group">
			<label for="dest_city">Kota tujuan*</label>
			<input type="text" 
				class="form-control" 
				id="dest_city" />
		</div>

		<div class="form-group">
			<label for="dest_dep">Tanggal Keberangkatan</label>
			<input id="dest_dep" name="dest_dep" type="text" readonly
				class="hidden-input ml-2"
				(dateSelect)="onDateSelected('departureDate', $event)"
				ngbDatepicker #dest_dep="ngbDatepicker"/>
			<button class="btn btn-info" (click)="dest_dep.toggle()">
				{{ ngbDestDep !== null ? dateConv.yyyyMMdd(ngbDestDep) 
					: "Pilih..." }}
			</button>
		</div>

		<div class="form-group">
			<label for="dest_note">Catatan</label>
			<input id="dest_note" class="form-control" type="text" name="dest_note">
		</div>
		<div class="form-group">
			<button class="btn btn-success mr-3">Tambah</button>
			<button class="btn btn-danger">Batal</button>
		</div>
	</form>
</div>