<div class="card po-card mb-2" *ngIf="purchaseOrder">	
	<h5 class="card-header">{{ purchaseOrder.title }}</h5>
	<img class="card-img-top" src="{{ purchaseOrder.bannerUrl }}" alt="Gambar PO"/>
	<div class="card-body">
    	<div class="card-text bg-light">
    		<div>
	    		<span *ngIf="purchaseOrder.origin" class="ml-1 flag-icon 
	    			flag-icon-{{ purchaseOrder.origin.city.countryCode | lowercase }}">		
    			</span>
    			<span class="mr-1 ml-1" *ngIf="purchaseOrder.routes.length > 0">=></span>
	    		<span *ngFor="let route of purchaseOrder.routes" 
	    			class="ml-1 flag-icon flag-icon-{{route.city.countryCode | lowercase}}"></span>
	    	</div>
	    	<!-- TODO status PO sesuai tanggal berlaku, berat, etc. -->
	    	<div class="float-right"><i>8 Hari lagi</i></div>
    	</div>
  	</div>
</div>