<div class="card po-card mb-2">	
	<h5 class="card-header">Judul PO</h5>
	<img class="card-img-top" src="https://www.dike.lib.ia.us/images/sample-1.jpg" alt="Gambar PO"/>
	<div class="card-body">
    	<div class="card-text">
    		<div>
	    		<span class="ml-1 flag-icon flag-icon-br"></span>
	    		<span class="ml-1 flag-icon flag-icon-de"></span>
	    		<span class="ml-1 flag-icon flag-icon-id"></span>
	    	</div>
	    	<div class="float-right"><i>8 Hari lagi</i></div>
    	</div>
  	</div>
</div>