.profilepic-container {
	position: relative;
}

.profilepic-container > .top-left {
	position: absolute;
	top: 0%;
	left: 0%;
}

.profilepic-container > .inside > .edit {
	border-radius: 50%;
	border: 1px solid black;
	padding: 7px;
	width: 40px;
	background-color: #eee;
}

.profilepic-container > .inside > .middle {
	position: absolute;
	top: 50%;
	left: 50%;
}

.profilepic {
	object-fit: cover;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 5px solid black;
	cursor: pointer;
}