<div class="jumbotron">
	<h1>Jual Bagasi</h1>
	<app-navigation-bar [currentNavigation]="'orders'"></app-navigation-bar>
</div>
<div class="container">
	<form>
		<!--Title of PO-->
		<div class="form-group">
			<label for="po_title">Judul Purchase Order*</label>
			<input type="text" class="form-control" 
				id="po_title" name="po_title"
				[ngClass]="{
					'is-valid': purchaseOrder.title !== '',
					'is-invalid': purchaseOrder.title === '' && isSubmitted
				}"
				[(ngModel)]="purchaseOrder.title"
				placeholder="Masukkan judul PO anda.." />
			<div *ngIf="errorMessages.title" class="small text-danger">{{ errorMessages.title }}</div>
		</div>

		<div class="form-group">
			<label for="po_description">Deskripsi*</label>
			<textarea class="form-control rounded-0" id="po_description" name="po_description"
				(change)="onDescriptionChanged($event.target.value)"
				[ngModel]="purchaseOrder.description"
				[ngClass]="{
					'is-valid': purchaseOrder.description !== '',
					'is-invalid': purchaseOrder.description === '' && isSubmitted
				}"
				placeholder="Jelaskan tentang PO anda..">{{ purchaseOrder.description }}</textarea>
			<div *ngIf="errorMessages.description" class="small text-danger">
				{{ errorMessages.description }}
			</div>
		</div>

		<div class="form-group mb-2 file-upload-dnd">
			<input #po_banner type="file" class="form-control-file" 
				accept="image/*" (change)="processBannerFile(po_banner)"/>
			<p>{{ selectedBanner ? selectedBanner.name : "Pilih Banner..." }}</p>
			<img [src]="selectedBannerPreviewUrl" *ngIf="selectedBannerPreviewUrl" height="200" />
		</div>

		<div class="form-group">
			<label for="po_baggage">Bagasi yang tersedia (Kg)*</label>
			<input class="form-control" id="po_baggage" name="po_baggage" type="number" 
				step="0.1" min="0"
				[ngClass]="{
					'is-valid': purchaseOrder.capacityKg > 0,
					'is-invalid': purchaseOrder.capacityKg <= 0 && isSubmitted
				}"
				[(ngModel)]="purchaseOrder.capacityKg"/>
			<div *ngIf="errorMessages.availableLuggage" class="small text-danger">
				{{ errorMessages.availableLuggage }}
			</div>
		</div>

		<div class="form-group">
			<label for="po_baggage_price">Harga bagasi per Kg*</label>
			<div class="form-inline">
				<div ngbDropdown class="d-inline-block">
			    	<button class="btn btn-primary mr-1" 
						[ngClass]="{
							'btn-danger': purchaseOrder.currency.id === -1 && submitted
						}"
			    		id="dropdown_currency" ngbDropdownToggle>
			    		{{ purchaseOrder.currency.id === -1 
			    			? 'Pilih mata uang' : purchaseOrder.currency.name }}
			    	</button>
			    	<div ngbDropdownMenu aria-labelledby="dropdown_currency">
			    		<button ngbDropdownItem *ngFor="let curr of currencies | async"
			    			(click)="onCurrencyPicked(curr)">
			    			{{ curr.symbol }} - {{ curr.name }}
			    		</button>
			     	</div>
			    </div>
				<input class="form-control" id="po_baggage_price" min="0" step="0.01" 
					name="po_baggage_price"
					[(ngModel)]="purchaseOrder.feePerKg"  
					[ngClass]="{
						'is-valid': purchaseOrder.feePerKg > 0,
						'is-invalid': purchaseOrder.feePerKg <= 0 && isSubmitted
					}"
					type="number"/>
			</div>
			<div *ngIf="errorMessages.pricePerKg" class="small text-danger">
				{{ errorMessages.pricePerKg }}
			</div>
			<div *ngIf="errorMessages.currency" class="small text-danger">
				{{ errorMessages.currency }}
			</div>
		</div>

		<label>Tanggal berlaku PO*</label>
		<div class="form-inline mb-2">
			<span class="datepicker-cover bg-light">
				<input id="po_startdate" name="po_startDate" type="text" readonly
					[ngClass]="{
						'is-valid': purchaseOrder.startDate !== null,
						'is-invalid': purchaseOrder.startDate === null && isSubmitted
					}"
					class="hidden-input"
					(dateSelect)="onDateSelected('startDate', $event)"
					ngbDatepicker #po_startDate="ngbDatepicker"/>
				<button class="btn btn-info" (click)="po_startDate.toggle()">
					Mulai...
				</button>
				<span class="ml-1 mr-1">{{ purchaseOrder.startDate | date: 'dd-MMM-y' }}</span>
			</span>
			<span class="mr-2 ml-2">-</span>

			<span class="datepicker-cover bg-light">
				<input id="po_enddate" name="po_endDate" type="text" readonly
					[ngClass]="{
						'is-valid': purchaseOrder.endDate !== null,
						'is-invalid': purchaseOrder.endDate === null && isSubmitted
					}"
					class="hidden-input"
					[minDate]="ngbPOStartDate"
					(dateSelect)="onDateSelected('endDate', $event)"
					ngbDatepicker #po_endDate="ngbDatepicker"/>
				<button class="btn btn-info" (click)="po_endDate.toggle()">
					Sampai...
				</button>
				<span class="ml-1 mr-1">{{ purchaseOrder.endDate | date: 'dd-MMM-y' }}</span>
			</span>
		</div>
		<div *ngIf="errorMessages.startDate" class="small text-danger">
			{{ errorMessages.startDate }}
		</div>
		<div *ngIf="errorMessages.endDate" class="small text-danger">
			{{ errorMessages.endDate }}
		</div>

		<!-- origin -->
		<div class="form-group">
			<span class="d-flex">Keberangkatan</span>
			<div class="bg-dark p-2 text-light d-flex mt-1 dest-box"
				(click)="openDestinationForm(-1)">
				<div class="row ml-2">
					<div *ngIf="purchaseOrder.origin.city.id !== -1; else missingOrigin">
						<span 
							class="span1 mr-2 flag-icon flag-icon-{{purchaseOrder.origin.city.countryCode|lowercase}}">		
						</span> 
						<span class="span1 badge badge-light mr-2">
							{{purchaseOrder.origin.city.name}} - {{purchaseOrder.origin.city.country}}
						</span> 
						<span class="span1">
							{{purchaseOrder.origin.estimatedItemArrivalDate | date: 'dd-MMM-y'}}
						</span>
					</div>
					<ng-template #missingOrigin>Masukkan data keberangkatan..</ng-template>
				</div>
			</div>
		</div>

		<div class="form-group">
			<span class="d-flex">Rute*</span>
			<span class="bg-dark p-2 text-light dest-box d-flex" 
				(click)="openDestinationForm(purchaseOrder.routes.length)">
				Tambah rute..
			</span>
			<!-- TODO rute yang sudah ditambahkan -->
			<div class="bg-dark p-2 text-light d-flex mt-1" 
				*ngFor="let route of purchaseOrder.routes; let i = index">
				<img src="assets/icons/ic_close.png" 
					width="24px" height="24px" class="action-icon mr-3" />
				<div (click)="openDestinationForm(i)" class="dest-box">
					<div class="row ml-2">
						<span class="span1 mr-2">{{i + 1}}.</span>
						<span class="span1 mr-2 flag-icon flag-icon-{{route.city.countryCode|lowercase}}"></span> 
						<span class="span1 badge badge-light mr-2">
							{{route.city.name}} - {{route.city.country}}
						</span> 
						<span class="span1">
							{{route.estimatedItemArrivalDate | date: 'y-MM-dd'}}
						</span>
					</div>
				</div>
			</div>

		</div>

		<button class="btn btn-success mr-2" (click)="onConfirmPO()">
  			<span class="spinner-border spinner-border-sm mr-2" 
  				*ngIf="isBeingSubmittedToServer" role="status" aria-hidden="true"></span>
  			<span>Konfirmasi PO</span>
  		</button>
		<button class="btn btn-danger">Batal</button>
	</form>
</div>