<div class="jumbotron">
	<h1>Jual Bagasi</h1>
</div>
<div class="container">
	<h4>Daftar</h4>
	<hr/>
	<form>
		<div class="form-group">
			<label for="reg_email">Alamat E-mail</label>
			<input type="email" class="form-control" id="reg_email" name="reg_email"
				[(ngModel)]="email"/>
			<small class="text-muted">Alamat E-mail anda tidak akan terlihat oleh pengunjung lain</small>
			<div class="small text-danger" *ngIf="errorMessages.email">{{ errorMessages.email }}</div>
		</div>

		<div class="form-group">
			<label for="reg_password">Password</label>
			<input type="password" class="form-control" id="reg_password" name="reg_password"
				[(ngModel)]="password"/>
			<input type="password" class="form-control mt-2" id="reg_password_repeat" 
				[(ngModel)]="passwordRepeat" name="reg_password_repeat" placeholder="Ulangi Password..."/>
			<div class="small text-danger" 
				*ngIf="errorMessages.password">{{ errorMessages.password }}</div>
		</div>

		<div class="form-group">
			<label for="reg_username">Username</label>
			<input type="text" class="form-control" id="reg_username" name="reg_username" 
				[(ngModel)]="username"/>
			<small class="text-muted">8-24 karakter. Hanya huruf, angka, dan karakter '_' atau '-' yang diperbolehkan</small>
			<div class="small text-danger" 
				*ngIf="errorMessages.username">{{ errorMessages.username }}</div>
		</div>

		<button class="btn btn-success" (click)="onRegistrationSubmit()">Daftar</button>
		<button class="btn btn-warning ml-3" [routerLink]="['/login']">Kembali ke Laman Login</button>
	</form>
</div>