.profilepic-small {
	border-radius: 50%;
	background-color: #ddd;
	width: 60px;
	height: 60px;
	transition: 0.25s;
}

.rounded-icon {
	border: 2px solid black;
	border-radius: 50%;
}

.edit-icon {
	opacity: 1;
	transition: 0.2s;
}
.edit-icon:hover {
	opacity: 0.5;
}

.description {
	white-space: pre-line;
}

.bg-sticky-bottom {
	background-color: #99badd;
	-webkit-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
       -moz-box-shadow: 0px 0px 25px rgba(0,0,0,.8);
            box-shadow: 0px 0px 25px rgba(0,0,0,.8);
}

.m-bottom-100 {
	margin-bottom: 100px;
}

.profilepic-small:hover {
	border: 3px solid black;
}

.banner-overlay {
	position: relative;
	width: 100%;
}

.banner-overlay > .overlay {
	position: absolute;
	top: 0;
	left: 0;
	margin: 15px;
}

.username {
	font-size: 20px;
}