<div class="jumbotron">
	<h1>Jual Bagasi</h1>
	<app-navigation-bar></app-navigation-bar>
</div>

<div class="container">

	<!--User-->
	<span>
		<img src="assets/icons/default_pp.png" class="profilepic-small mr-3" />
		<span>contohuserjualbagasi69</span>
	</span>
	<hr/>
	<!--Title-->
	<h3>[Open PO] Jerman, UK, dan Jepang. Mulai dari 15.000 per Kg</h3>
	
	<!--Banner-->
	<img class="mb-2 img-fluid" 
		src="http://localhost:3000/static/banner_88ee769392354dfa8d21849c46ad7b9c554dc43a0a69d9bd27d7c713112ee4da.jpg"/>

	<div>
		<table class="table table-borderless">
			<tbody>
				<tr>
					<td>
						<span><img src="assets/icons/ic_time.svg" class="mr-3" height="20px" /></span>
						<b>Tanggal buka pesanan</b>
					</td>
					<td>
						6 Okt. 2019 - 10 Okt. 2019
						<span class="badge badge-success ml-2">2 Hari lagi</span>
					</td>
				</tr>
				<tr>
					<td>
						<span><img src="assets/icons/ic_luggage.svg" class="mr-3" height="20px" /></span>
						<b>Sisa Kapasitas</b>
					</td>
					<td>6.6 Kg</td>
				</tr>
				<tr>
					<td>
						<span><img src="assets/icons/ic_price.svg" class="mr-3" height="20px" /></span>
						<b>Harga per Kg</b>
					</td>
					<td>IDR 15.000</td>
				</tr>
			</tbody>
		</table>

		<div class="bg-light p-3">
			<h5><span><img src="assets/icons/ic_route.svg" class="mr-3" height="20px"/></span>Rute</h5>
			<div class="d-flex align-items-center flex-wrap">
				<div>
					<span class="badge badge-info">
						<span class="mr-1 flag-icon flag-icon-de"></span>
						<span>
							Düsseldorf, Germany<br/><span class="small">11 Okt. 2019</span>
						</span>
    				</span>
    			</div>
    			<span><img src="assets/icons/ic_arrow_right.svg" height="20px" class="mr-2 ml-2" /></span>
				<div>
					<span class="badge badge-info">
						<span class="mr-1 flag-icon flag-icon-gb"></span>
						<span>
							Glasgow, UK<br/><span class="small">20 Okt. 2019</span>
						</span>
    				</span>
    			</div>
    			<span><img src="assets/icons/ic_arrow_right.svg" height="20px" class="mr-2 ml-2" /></span>
				<div>
					<span class="badge badge-info">
						<span class="mr-1 flag-icon flag-icon-jp"></span>
						<span>
							Nagoya, Japan<br/><span class="small">1 Nov. 2019</span>
						</span>
    				</span>
    			</div>
			</div>
		</div>

		<div class="mt-3">
			<h5>Tentang PO ini</h5>
			<p>
				Tidak menerima titipan obat-obatan. Barang sudah harus di-package dengan rapi<br/>
				Tidak menggunakan jasa kirim barang. Penerima harus bertemu langsung
			</p>
		</div>
	</div>

</div>