.profilepic-small {
	border-radius: 50%;
	background-color: #ddd;
	width: 60px;
	height: 60px;
	transition: 0.25s;
}

.profilepic-small:hover {
	border: 3px solid black;
}

.banner-overlay {
	position: relative;
	width: 100%;
}

.banner-overlay > .overlay {
	position: absolute;
	top: 0;
	left: 0;
	margin: 15px;
}

.username {
	font-size: 20px;
}